.allFiles {
   display: flex;
   flex-wrap: wrap;
}

.fileBox{
   margin: 10px;
   max-width: 120px;
      max-height: 120px;
   justify-content:space-between;
}

.fileBox img{

}

.fileBox a{
   text-decoration: none;
   color: black;
}

.fileBox-label {
   width: 80px;
   overflow:hidden;
   white-space:nowrap;
   text-overflow: ellipsis;
    padding-left: 8px;
}

.delete-modal-box-buttons {
   display: flex;
}

.delete-modal-box-button{
   padding: 0px;
   margin: 0px;
}

.modal-email-share{
   width: 97%;
   display: block;
   text-align: center;
   margin-left: 10px;
}

.help-modal {
   margin-left: 10px;
}

.share-modal-label {
   margin-left: 10px;
}

.navbar{
    background-color: #33B5E5;
    color: white;
}

.detail-label{
    font-weight: bold;
}
.details-button{
    background-color: #20A0FF;
}
