.change-password-form{
width: 400px;
    margin: auto;
    margin-top: 10px;
 }

.password-text-box{
    text-align: center;
    font-size: 150%;
    margin: 0;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.change-password-box{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 25%;
    left: 35%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid grey;
}

.change-password-warning {
    position: absolute;
    width: 500px;
    top: 80%;
    left: 35%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid grey;
}

.change-password-warning-text {
    margin: 10px;
    text-align: center;
    color:red;
    font-weight: bold;
}