.editDataForm {
    background: white;
    width: 800px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid grey;
}

.inputStyle{
    margin: 10px;
    width: 355px;
}

.inputDate{
    margin: 0px;
    border-radius: 5px;
    width: 355px;
}

.inputSelect{
    width: 355px;
}

.edit-data-form-box{
    margin: 20px;
}

.edit-text-form{
    text-align: center;
    font-size: 150%;
    margin: 0;
    border-bottom: 1px solid grey;
    padding: 10px;
}