@media all and (min-width: 480px) {

body{
    background-image: url('../../images/background.jpg');
}
    #loginEmail{
    width: 378px;
    }

    .register{
      margin-top: 20px;
      text-align: center;
    }
    
    .login{
      margin-top:100px;
    }
  
    .login form {
      padding: 50px 10px;
      margin: 0 auto;
      max-width: 400px;
      border-radius:20px; 
      background: white;
      border: 1px solid grey;
    }

    .login form a{
      float: right;
    }

    .loginWarning {
        clear: both;
        color: red;
        font-weight: bold;
        text-align: center;
        font-size: 125%;
        border-radius: 10px;
        border: 1px solid grey;
        background: white;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }

    .login span{
        margin-top:10px;
    }


  }