@media all and (min-width: 480px) {
    .registerForm {
        margin-top: 200px;
    }
    .registerForm form {
        padding: 50px 10px;
        margin: 0 auto;
        max-width: 950px;
        border-radius: 20px;
        background: white;
        border: 1px solid grey;
    }
    .registerForm a {
        float: right;
    }
    .react-datepicker-wrapper {
        border-radius: 5px;
    }
    input {
        width: 300px;
        height: 38px;
        border-radius: 2px;
        border: 1px solid #CED4DA;
        text-align: center;
        color: #9d9fa0;
        margin-right: 10px;
        float: left;
    }
    .css-1hwfws3 {
        height: 38px;
        width: 260px;
    }
    label {
        margin-right: 5px;
    }
    .form-group {
        float: left;
    }
    .form-inline .form-control {
        width: 300px;
    }
    .groupPair {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    label {
        min-width: 130px;
    }
    .registerForm button {
        max-width: 800px;
    }

    .clear{
        clear: both;
    }
    .warning {
        clear: both;
        color: red;
        font-weight: bold;
        text-align: center;
        font-size: 125%;
        border-radius: 10px;
        border: 1px solid #CED4DA;
        background: white;
        max-width: 950px;
        margin: 0 auto;
        padding: 20px;
    }
    .space{
        margin:20px;
    }
}